.main-description {
  background-color: var(--Red);
}
.main-description-container{
    padding: 30px;
}
.main-description-container p {
  color: var(--White);
  text-align: center;
  font-size: 1.2rem;
}
