.main-description {
  background-color: var(--Red);
}
.main-description-container {
  padding: 30px;
}
.main-description-container p {
  color: var(--White);
  text-align: center;
  font-size: 1.2rem;
}
@media (min-width: 640px) {
  .main-description-container p {
    font-size: 1.8rem;
  }
}
@media (min-width: 1024px) {
  .main-description {
    border-top: 10px solid var(--Red);
    border-bottom: 10px solid var(--Red);
    background-color: transparent;
    margin: 5% 0;
  }
  .main-description-container p {
    color: var(--Red);
    font-size: 2.5rem;
  }
}
