.principles {
  padding: 40px 20px;
  text-align: center;
}
.principles h2 {
  color: var(--Pale-red);
  font-size: 1.3rem;
  font-weight: 500;
}
.principles-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.principle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.principle-title {
  font-size: 1.1rem;
  font-weight: 700;
}
.principle img {
  max-width: 50px;
}
.principle p {
  color: var(--Dark-ray);
  font-size: 0.9rem;
  width: 60%;
}
@media (min-width: 640px) {
  .principles-container {
    flex-direction: row;
    align-items: baseline;
  }
  .principle {
    flex: 1;
    gap: 0;
    justify-content: normal;
    height: auto;
  }
  .principle:nth-child(2) {
    border-left: 1px solid var(--Gray);
    border-right: 1px solid var(--Gray);
    padding: 0 1%;
  }
  .principle img {
    max-height: 50px;
    margin: 7% 0;
  }
  .principle p {
    font-size: 0.8rem;
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .principles {
    padding: 0;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .principles h2 {
    font-size: 2.3rem;
  }
  .principle {
    height: 26vh;
  }
  .principle-title {
    font-size: 1.5rem;
  }
  .principle p {
    font-size: 1rem;
    margin-top: 0;
  }
}
@media (min-width: 1441px) {
  .principles {
    height: 50vh;
  }
  .principles-container {
    margin-top: 0px;
  }
  .principle p {
    font-size: 1.3rem;
    margin-top: 0px;
}
}
