.products {
  padding: 20px;
}
.products > h2 {
  text-decoration: underline;
}
article {
  position: relative;
}
.products-article {
  background-color: var(--Red);
  padding: 7px;
  border-radius: 20px 20px 0 0;
  margin-top: 15px;
}
.products-main-title {
  background-color: var(--White);
  color: var(--Red);
  width: 77%;
  padding: 0 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.products-article p {
  color: var(--White);
  margin: 20px 20px 85px;
  font-size: 1rem;
  font-weight: 500;
}
.products-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -65px;
  background-color: var(--White);
  padding: 5px;
  border-radius: 20px;
}
.products-container-title {
  background-color: var(--Red);
  color: var(--White);
  padding: 7px 15px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: block;
  width: 62%;
}
.products-img-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
}
.products-img-container figure {
  width: 70%;
  text-align: center;
  margin: auto;
}
.products-img-container figcaption {
  border-bottom: 1px solid var(--Pale-gray);
  padding-bottom: 10px;
  margin-top: 10px;
}
@media (min-width: 640px) {
  .products-article p {
    font-size: 1.3rem;
    margin-bottom: 125px;
  }
  .products-container {
    margin-top: -15%;
  }
  .products-main-title {
    width: 30%;
  }
  .products-container-title {
    width: 22%;
  }
  .products-img-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    padding: 0 2%;
  }
  .products-img-container figure {
    width: 40%;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .products {
    padding: 0;
    margin: 3% 0;
  }
  .products-main-title {
    width: 25%;
  }
  .products-article {
    height: 34vh;
  }
  .products-article p {
    font-size: 1.3rem;
    margin-bottom: 250px;
  }
  .products-container {
    margin: -80px 40px 40px;
  }
  .products-container-title {
    width: 20%;
  }
  .products-img-container {
    gap: 45px;
  }
  .products-img-container figure {
    flex-basis: 20%;
  }
}
@media (min-width: 1441px) {
  .products > h2 {
    font-size: 2rem;
  }
  .products-main-title {
    width: 12%;
  }
  .products-container {
    margin-top: -129px;
}
  .products-container-title {
    width: 8%;
  }
  .products-article p {
    font-size: 1.7rem;
    margin-bottom: 250px;
}
}
