@import url("./colors.css");
@import url("./header.css");
@import url("./introSection.css");
@import url("./mainDescription.css");
@import url("./principles.css");

@font-face {
  font-family: "PaytoneOne-Regular";
  src: url("../fonts/PaytoneOne-Regular.ttf") format("truetype"),
    url("../fonts/PaytoneOne-Regular.woff2") format("woff2"),
    url("../fonts/PaytoneOne-Regular.woff") format("woff");
}
html {
  font-family: "PaytoneOne-Regular";
  font-size: 15px;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--Very-light-gray);
  position: relative;
}
.container {
  background-color: var(--White);
}
img {
  width: 100%;
  height: auto;
}
