@import url("./colors.css");
@import url("./header.css");
@import url("./introSection.css");
@import url("./mainDescription.css");
@import url("./principles.css");
@import url("./products.css");
@import url("./footer.css");

@font-face {
  font-family: "PaytoneOne-Regular";
  src: url("../fonts/PaytoneOne-Regular.ttf") format("truetype"),
    url("../fonts/PaytoneOne-Regular.woff2") format("woff2"),
    url("../fonts/PaytoneOne-Regular.woff") format("woff");
}
html {
  font-family: "PaytoneOne-Regular";
  font-size: 15px;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--ultra-light-gray);
  position: relative;
}
.container {
  background-color: var(--White);
}
img {
  width: 100%;
  height: auto;
}
@media (min-width: 1024px) {
  #inicio {
    padding: 3% 10%;
  }
}
@media (min-width: 1441px) {
  .container {
    width: 80%;
    margin: auto;
  }
  #inicio {
    padding: 3% 5%;
  }
}
